.preview-link {
  position: relative;
  text-decoration: none;
}

.preview-tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  background: #1a1a1a;
  border: 1px solid #555;
  padding: 5px;
  z-index: 100;
}

.preview-link:hover .preview-tooltip {
  display: block;
}
